<style>

#parent{
    padding: 0px, auto;
    width: 50%;
    margin: auto;
}
#chooser{
  font-family: 'pokemon_gbregular';
    position: absolute;
    top: 200px;
    left: 475px;
    width: 500px;
    height: 300px;
    border: solid 0px;
}
h1{
  font-family: 'pokemon_gbregular';
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://orig00.deviantart.net/2d89/f/2014/084/2/b/pokemon_link__battle____pikachu_icon_by_ryanthescooterguy-d7bkcj6.png">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- <h1> Choose your pokemon trainer name </h1> -->
    <div id="parent">
    <div id="chooser">
    <form action="/names" method="post">
     <!-- <input type="text" name="Player_1_name" value="Raefe">
     <input type="text" name="Player_2_name" value="George"> -->

     <h1> Choose your starting pokemon </h1>
     <label>
       <input type="image" style="height: 150px; width: 150px;" src="https://cdn.bulbagarden.net/upload/7/76/Spr_5b_001.png" name="pokemon" value="Bulbasaur" required>
     </label>
     <label>
       <input type="image" style="height: 150px; width: 150px;" src="https://cdn.bulbagarden.net/upload/5/59/Spr_5b_007.png" name="pokemon" value="Squirtle" required>
     </label>
     <label>
       <input type="image" style="height: 150px; width: 150px;" src="https://cdn.bulbagarden.net/upload/0/0a/Spr_5b_004.png" name="pokemon" value="Charmander" required>
     </label>
    </form>
  </div></div>


  </body>
</html>
